#chessboard, .black, .white {
	display:block;
	padding:0px;
	margin:0px;
}

#chessboard {
	width:384px;
	height:384px;
	border:4px solid black;
}

.black, .white {
	width:48px;
	height:48px;
	float:left;
}

.black{
	background-color:black;
}

.white{
	background-color:white;
}