#container{
    width:80%;
    height:50%;
    border: 1px solid black;
}
  .red-strip{
     background-color:red;
  }
  .white-strip{
     background-color:white;
  }
  .red-strip, .white-strip{
    display:block;
    height:30px;
}
  img{
      position:absolute;
      height: 210px;
      width:300px;
        margin-top: 3px;
        margin-left:3px;
  }

  @media only screen and (max-width: 600px) {
   #container{
       width:50%;
       height:25%;
   }
   img{
       height: 105px;
       position: absolute;
       width:150px;
   }
   .red-strip{
    background-color: red;
   }
   .white-strip{
    background-color: white;
   }
    .red-strip, .white-strip{
        display:block;
        height:15px;
    }
}
  
